<div class="card mt-4">
  <h4 class="card-header">Home</h4>
  <div class="card-body">
      <p>{{'HomeBody1' | translate}} </p>
      <p>{{'HomeBody2' | translate}} <strong>{{user.role}}</strong>.</p>
      <p>{{'HomeBody3' | translate}} <u>{{'HomeBody4' | translate}}</u>.</p>
      <p class="mb-1">{{'HomeBody5' | translate}}</p>
      <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
      <ul *ngIf="userFromApi">
          <li>{{userFromApi.firstName}} {{userFromApi.lastName}}</li>
      </ul>
  </div>
</div>
